
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Unbounded:wght@300&display=swap');

#parent{
    background-color: white;
    height: 80px;
    width: 100%;
    -webkit-box-shadow: 0px 5px 39px -33px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 39px -33px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 39px -33px rgba(0,0,0,0.75);
}
#linkos{
    border:none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#logo{
    height: 50px;
    margin-inline: 100px;
}

.links {
    margin-inline: 50px;
}

#button{
    background-color: #FF7EFF;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-left: 50%;
    margin-right: 3%;
    font-family: 'Unbounded', cursive;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 41px;
    height: 16px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.1s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }

